$primary = $red
$secondary = #292C32
$accent = $yellow
$third = $gray

$positive = $green
$negative = lighten(#EA2E49, 20%)

$text-default = $white
$white = #f2f2f2;

$black = #2b2924
$green = #181818
$red = #EA2E49
$yellow = #FFCC33
$gray = #B5B9C0
$blue = #414fba